{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box %}
	{% if product %}
		{% set name = product.translated.name %}
		{% set id = product.id %}
		{% set cover = product.cover.media %}
		{% set variation = product.variation %}



		<div class="card product-box box-{{ layout }} bc-listbox">
			{% block component_product_box_content %}
				<div class="card-body">

{#					{% block component_product_box_badges %}#}
{#						{% sw_include '@Storefront/storefront/component/product/card/badges.html.twig' %}#}
{#					{% endblock %}#}

					{% block component_product_box_image %}

						<div
							class="product-image-wrapper">
							{# fallback if display mode is not set #}
							{% set displayMode = displayMode ?: 'standard' %}

							{# set display mode 'cover' for box-image with standard display mode #}
							{% if layout == 'image' and displayMode == 'standard' %}
								{% set displayMode = 'cover' %}
							{% endif %}

							<a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}" title="{{ name }}" class="product-image-link is-{{ displayMode }}">
								{% if cover.url %}
									{% set attributes = {
                                        'class': 'product-image is-'~displayMode,
                                        'alt': (cover.translated.alt ?: name),
                                        'title': (cover.translated.title ?: name),

                                    } %}

									{% if displayMode == 'cover' or displayMode == 'contain' %}
										{% set attributes = attributes|merge({ 'data-object-fit': displayMode }) %}
									{% endif %}

									{% sw_thumbnails 'product-image-thumbnails' with {
                                        media: cover,
                                        sizes: sizes
                                    } %}
									{% if product.media|length > 0 %}
										{% set bcImglength = product.media.elements|length %}

										{% if bcImglength > 1 %}
											{% for positionImg1 in product.media.elements   %}
												{% if positionImg1.position == 1 %}
													{% set bcIdentifier = positionImg1._uniqueIdentifier %}
													{% set bc_img = product.media.elements[bcIdentifier].media.url %}
													<img src="{{ bc_img }}" class="product-image is--hover is-standard" alt="{{ name }}" title="{{ name }}">
												{% endif %}
											{% endfor %}
										{% else %}
											{% set bcIdentifier = product.media.elements|keys|first %}
											{% set bc_img = product.media.elements[bcIdentifier].media.url %}
											<img src="{{ bc_img }}" class="product-image is--hover is-standard" alt="{{ name }}" title="{{ name }}">
										{% endif %}

									{% else %}
										{% set attributes = {
											'class': 'product-image is--hover is-'~displayMode,
											'alt': (cover.translated.alt ?: name),
											'title': (cover.translated.title ?: name)
										} %}

										{% if displayMode == 'cover' or displayMode == 'contain' %}
											{% set attributes = attributes|merge({ 'data-object-fit': displayMode }) %}
										{% endif %}

										{% sw_thumbnails 'product-image-thumbnails' with {
											media: cover,
											sizes: sizes
										} %}
									{% endif %}
								{% else %}
									<div class="product-image-placeholder">
										{% sw_icon 'placeholder' style {
                                            'size': 'fluid'
                                        } %}
									</div>
								{% endif %}
							</a>
							{% if config('core.cart.wishlistEnabled') %}
								{% block component_product_box_wishlist_action %}
									{% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
                                        appearance: 'circle',
                                        productId: id
                                    } %}
								{% endblock %}
							{% endif %}

                            {% sw_include '@Storefront/storefront/Custompages/layout/quick-view.html.twig' %}
							<div class="product--btn-action">
								{% sw_include '@Storefront/storefront/component/product/card/action.html.twig' %}
							</div>

						</div>
					{% endblock %}

					{% block component_product_box_info %}
						<div class="product-info">


							{% block component_product_box_name %}
								<a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}" class="product-name" title="{{ name }}">
									{{ name }}
								</a>
							{% endblock %}

{#							{% block component_product_box_variant_characteristics %}#}
{#								{% if (product.optionIds != null) or (product.childCount > 0) %}#}
{#									<div class="product-variant-characteristics">#}
{#										{% sw_include '@GISLEspadrillesTheme/storefront/component/bc-color-preview.html.twig' %}#}
{#									</div>#}
{#								{% endif %}#}
{#							{% endblock %}#}


							{% block component_product_box_price %}
								{% sw_include '@Storefront/storefront/component/product/card/price-unit.html.twig' %}
							{% endblock %}


						</div>
					{% endblock %}
				</div>
			{% endblock %}
		</div>
	{% endif %}
{% endblock %}
