{% sw_extends '@Storefront/storefront/base.html.twig' %}
{% set defaultThmb = "https://placehold.co/1000x670" %}
{% block base_content %}


    {% if searchTerm is defined and searchTerm is not null and searchTerm != '' %}
        
        <h1 class="search-headline text-center mb-4">  {{ 'blog-list.title.searchTitle'|trans }}  "{{searchTerm}}"</h1>
    
    {% else %}

    <h3 class="blog-page__title test text-center"> {{ 'blog-list.title.blogTitle'|trans }} </h3>

    <div class="category-area d-flex justify-content-center align-items-center  flex-wrap gap-2  text-center mb-3">


        <a href="{{ path('frontend.blog')}}" type="button" class="btn btn-outline-secondary {{ category_slug == null? 'active_category' : '' }}" >{{ 'blog-list.title.allBlog'|trans }}</a>

        {% for category in categories %}

            <a type="button" class="btn btn-sm btn-outline-secondary {{ category.slug == category_slug ? 'active_category' : '' }}" href="{{ path('frontend.blog', {'category_slug': category.slug}) }}" >{{ category.name }}</a>
        
        {% endfor %}

    </div>
    
    <div class="short_description bg-gray">
        {% if(banner) %}
        <img src="{{banner}}" alt="Snow" />
        {% endif %}
        <div class="centered banner_content_area">
            <h1 class="blog-page__title  text-center text-light"> {{ title }} </h1>
            <p>{{page_info.shortDescription}}</p>
            {% if(page_info.description) %}
                <div class="d-flex justify-content-center">
                    <a type="button" class="btn btn-sm bg-light" href="#description">{{ 'blog-list.button.readMore'|trans }}</a>
                </div>

            {% endif %}
        </div>
    </div>


    {% endif %}


    <div class="g-4 mt-5">
        {% if blogs|length > 0  %}

            <div class="blog_count_grid">
                <p class="blog_count">
                    {{ 'blog-list.title.countTitle'|trans }}:  <span class="active"> {{ paginationInfo.startCount }} to {{ paginationInfo.endCount }} of {{ paginationInfo.totalBlogs }}  {{paginationInfo.totalItem}} items </span>
                </p>
                {% if paginationInfo.paginationPages|length > 1 %}

                    {%  sw_include '@GdnGdnblog/storefront/page/inc/pagination.htm.twig' with{
                        paginationPages:paginationInfo.paginationPages,
                        searchTerm:searchTerm
                    } %}

                {% endif %}
            </div>



            
            <div class="row">

                {% for blog in blogs %}
                {%  sw_include '@GdnGdnblog/storefront/page/inc/blog-item.html.twig' with{
                    blog:blog,
                    thumb:defaultThmb
                } %}
                {% endfor %}

            </div>

            {% if paginationInfo.paginationPages|length > 1 %}

                <div class="mt-5">
                    {%  sw_include '@GdnGdnblog/storefront/page/inc/pagination.htm.twig' with{
                        paginationPages:paginationInfo.paginationPages,
                        searchTerm:searchTerm
                    } %}
                </div>

            {% endif %}


        {% else %}

            <div class="alert alert-info py-3 text-center text-light">{{ "Unfortunately we can`t find any article"|trans }}</div>

        {% endif %}


    </div>

    {% if searchTerm is not defined or searchTerm is null or searchTerm == '' %}

        <div  id="description" class="bottom_description">
            <h5>{{title}}</h5>
            <p>{{page_info.description}}</p>
        </div>

    {% endif %}


{% endblock %}


