{% sw_extends '@Storefront/storefront/base.html.twig' %}
{% set defaultThmb = "https://placehold.co/1000x670" %}
{% block base_content %}
    {% block page_header %}
        <div class="blog_details_header_area">
            <div class="inner_area">
                <h2>
                    {{ blog.title }}
                </h2>
                <div class="d-flex justify-content-center align-items-center flex-wrap gap-4 mt-2"
                >
                    <div class="user_area d-flex align-items-center flex-wrap gap-2">
                        {% if blog.postAuthor.media %}
                            <img src="{{ blog.postAuthor.media.url }}" alt="{{ blog.postAuthor.name }}" />
                        {% endif %}

                        <h4>{{ blog.postAuthor.name }}</h4>
                    </div>
                    <h5 class="date">{{ blog.publishedAt|date('F j, Y') }}</h5>
                </div>
            </div>
        </div>
    {% endblock %}

    {% if blog.media %}
        {% block page_image %}
            <div class="blog_details_main_img">
                <img src="{{ blog.media.url }}" alt="{{ blog.title }}" />
            </div>
        {% endblock %}
    {% endif %}

    {% block main_content %}

        <section class="details_content_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="table_content_area">
                            <h3 class="blog_details_title">Table of Content</h3>
                            <ul class="table_list">
                                {#  class="active_list"#}
                                {% for heading in blog.toc %}
                                    {% if heading.text != "" %}
                                        <li class="toc-{{ heading.level }}">
                                            <a href="#{{ heading.id }}">{{ heading.text }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6"> <div id="content">
                            {{ blog.description|raw }}
                        </div> </div>
                    <div class="col-md-3">
                        <div class="details_right_area">
                            {% if ( blog.categories | length >0)%}
                                <div class="category">
                                    <h3 class="blog_details_title">Categories</h3>
                                    <div class="category_list d-flex align-items-center flex-wrap gap-2"
                                    >
{#                                        class="active"#}
                                        {% for category in blog.categories %}
                                            <a type="button"   href="{{ path('frontend.blog', {'category_slug': category.slug}) }}" >{{ category.name }}</a>
                                        {% endfor %}
                                    </div>

                                </div>
                            {% endif %}
                            {% if ( blog.relatedProducts | length >0)%}
                                <div class="related_product_area">
                                    <h3 class="blog_details_title">Related Products</h3>
                                    <div class="related_product_grid">
                                        {% for product in blog.relatedProducts %}
                                            <a href="{{ product.url }}" class="related_product shadow">
                                                <img class="product_img p-3" src="{{product.media}}" alt="{{product.name}}">
                                                <h4 class="related_product_title">{{product.name}}</h4>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>



    {% endblock %}

    {% if(blog.relatedBlogs|length >0) %}
    {% block related_article %}
        <div class="related_article ">
            <h5 class="related_details_title">Related Article</h5>
            <div class="related-article-item row">
                {% for relatedBlog in blog.relatedBlogs%}
                      {%  sw_include '@GdnGdnblog/storefront/page/inc/blog-item.html.twig' with{
                        blog:relatedBlog,
                        thumb:defaultThmb
                    } %}
                {% endfor%}
            </div>
        </div>
    {% endblock %}
    {% endif %}


{% endblock %}
