{% sw_extends '@Storefront/storefront/base.html.twig' %}
{% set defaultThmb = "https://placehold.co/1000x670" %}
{% block base_content %}

    <h3 class="blog-page__title test text-center"> {{ 'blog-list.title.blogTitle'|trans }} </h3>

    <div class="category-area d-flex justify-content-center align-items-center  flex-wrap gap-2  text-center mb-3">


        <a href="{{ path('frontend.blog')}}" type="button" class="btn btn-outline-secondary {{ category_slug == null? 'active_category' : '' }}" >{{ 'blog-list.title.allBlog'|trans }}</a>

        {% for category in categories %}
            <a type="button" class="btn btn-sm btn-outline-secondary {{ category.slug == category_slug ? 'active_category' : '' }}" href="{{ path('frontend.blog', {'category_slug': category.slug}) }}" >{{ category.name }}</a>
        {% endfor %}
    </div>
    
    <div class="short_description bg-gray">
        {% if(banner) %}
        <img src="{{banner}}" alt="Snow" />
        {% endif %}
        <div class="centered banner_content_area">
            <h1 class="blog-page__title  text-center text-light"> {{ title }} </h1>
            <p>{{page_info.shortDescription}}</p>
            {% if(page_info.description) %}
                <div class="d-flex justify-content-center">
                    <a type="button" class="btn btn-sm bg-light" href="#description">{{ 'blog-list.button.readMore'|trans }}</a>
                </div>

            {% endif %}
        </div>
    </div>

    <div class="row g-4 mt-5">
        {% if blogs|length > 0  %}
        {%  sw_include '@GdnGdnblog/storefront/page/inc/pagination.htm.twig' with{
            paginationPages:paginationPages,
        } %}
        {% for blog in blogs %}
        {%  sw_include '@GdnGdnblog/storefront/page/inc/blog-item.html.twig' with{
            blog:blog,
            thumb:defaultThmb
        } %}
        {% endfor %}
            <div class="mt-5">
                {%  sw_include '@GdnGdnblog/storefront/page/inc/pagination.htm.twig' with{
                    paginationPages:paginationPages,
                } %}
            </div>


        {% else %}
            <div class="alert alert-info py-3 text-center text-light">{{ "Unfortunately we can`t find any article"|trans }}</div>
        {% endif %}


    </div>

    <div  id="description" class="bottom_description mt-5">
        <p>{{page_info.description}}</p>
    </div>


{% endblock %}


