<div class="col-6 col-md-4 blog-card">
    <a href="{{ path('frontend.blog.details', {'slug': blog.slug}) }}" style="text-decoration: none;">
        <div class="card">
            <div class="p-3 cardImage">
                <img src="{{ blog.media.url ?: thumb }}" class="card-img-top" alt="{{ blog.title }}">
            </div>
            <div class="card-body">
                <div class="card-header d-flex justify-content-between">
                    <p>
                    {% if(blog.postAuthor.media.url) %}
                    <img src="{{blog.postAuthor.media.url}}" >
                    {% endif %}
                    {{ blog.postAuthor.name }}</p>
                    <p>{{ blog.publishedAt|date('F j, Y') }}</p>
                </div> <!-- Closed div for card-header -->
                <h5 class="py-2">{{ blog.title }}</h5>
                <p class="card-text">
                    {{ blog.short_description }}
                </p>
            </div> <!-- Closed div for card-body -->
        </div> <!-- Closed div for card -->
        <button class="btn btn-outline-danger btn-lg px-5">READ More -></button>
    </a>
</div> <!-- Closed div for blog-card -->
