
<div class="col-lg-4 col-md-6 ">
<a href="{{ path('frontend.blog.details', {'slug': blog.slug}) }}" style="text-decoration: none;">

        <div class="blog-card">
            <div class="cardImage">
                <img src="{{ blog.media.url ?: thumb }}" class="card-img-top" alt="{{ blog.title }}">
            </div>
            <div >
                <div class="date_area d-flex align-items-center flex-wrap">

                    <div class="d-flex align-items-center flex-wrap gap-2">
                    {% if(blog.postAuthor.media.url) %}
                    <img src="{{blog.postAuthor.media.url}}"   class="user_icon">
                    {% endif %}
                        <h5> {{ blog.postAuthor.name }}</h5>
                   </div>
                    <div class="d-flex align-items-center flex-wrap gap-2">
                        <h5>{{ blog.publishedAt|date('F j, Y') }}</h5>
                    </div>

                </div> <!-- Closed div for card-header -->
                <div class="content_area">
                    <h3>{{ blog.title }}</h3>
                    <p >
                        {{ blog.short_description }}
                    </p>
                </div>

            </div> <!-- Closed div for card-body -->
            <button class="red_more_btn">READ MORE 
                <div class="right-arrow-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M3 12h14M12 5l7 7-7 7" fill="none" stroke="#b30505" stroke-width="2"/>
                    </svg>
                </div>
            </button>
        </div> <!-- Closed div for card -->
</a>
</div> <!-- Closed div for blog-card -->

