{% block sw_cms_block_shop_by_color %}
    <div class="row d-flex gx-5">
        {% for i in 1..6 %}
            {% set url = block.slots.getSlot("image"~i).data.url %}
            <div class="col-6 col-md-2 p-2">
            {% if(url) %}
                <a href="{{url}}"/>
            {% endif %}
                <div class="card">
                    <div class="card-img">
                        {% set media = block.slots.getSlot("image"~i).data.media.url %}
                        <div class="card-image">
                            <img src="{{ media }}" alt="Image {{ i }}" class="img-fluid img-container rounded-2"/>
                        </div>
                    </div>
                    <div class="pt-3">
                        {% set title = block.slots.getSlot("text"~i).config.content.value %}
                        {% set colorCode = block.slots.getSlot("text"~(i + 6)).config.content.value %}
                        <div class="d-flex align-items-center">
                            <span style="background-color:{{ colorCode | striptags }}; width: 20px; height: 20px; display: inline-block; margin-right: 10px;" class="rounded-circle"></span>
                            <h6 class="mb-0">{{ title | striptags }}</h6>
                        </div>
                    </div>
                </div>
              {% if(url) %}
                </a>
            {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
