{% block layout_breadcrumb_inner %}
    {% if breadcrumbItems is not empty %}
        <nav aria-label="breadcrumb">
            {% block layout_breadcrumb_list %}
                <ol class="breadcrumb"
                    itemscope
                    itemtype="https://schema.org/BreadcrumbList">

                    {# Home breadcrumb link #}
                    <li class="breadcrumb-item">
                        <a href="{{ path('frontend.home.page') }}" class="breadcrumb-link">
                            {{ "GISLEspadrillesTheme.breadcrumb.lable1"|trans|sw_sanitize }}
                        </a>
                    </li>
                    <div class="breadcrumb-placeholder">
                        {% sw_icon 'arrow-medium-right' style { 'size': 'fluid', 'pack': 'solid'} %}
                    </div>

                    {# Loop through the breadcrumb items #}
                    {% for breadcrumbItem in breadcrumbItems %}
                        <li class="breadcrumb-item"
                            {% if loop.last %}aria-current="page"{% endif %}
                            itemprop="itemListElement"
                            itemscope
                            itemtype="https://schema.org/ListItem">

                            {# If it's not the last item, create a link; otherwise, show plain text #}
                            {% if not loop.last %}
                                <a href="{{ breadcrumbItem.url }}"
                                   class="breadcrumb-link"
                                   title="{{ breadcrumbItem.name }}"
                                   itemprop="item">
                                    <link itemprop="url" href="{{ breadcrumbItem.url }}"/>
                                    <span class="breadcrumb-title" itemprop="name">{{ breadcrumbItem.name }}</span>
                                </a>
                            {% else %}
                                <span class="breadcrumb-title" itemprop="name">{{ breadcrumbItem.name }}</span>
                            {% endif %}

                            <meta itemprop="position" content="{{ loop.index }}"/>
                        </li>

                        {# Add a separator (icon) between breadcrumb items, except for the last one #}
                        {% if not loop.last %}
                            <div class="breadcrumb-placeholder">
                                {% sw_icon 'arrow-medium-right' style { 'size': 'fluid', 'pack': 'solid'} %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </ol>
            {% endblock %}
        </nav>
    {% endif %}
{% endblock %}
